<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="am.model.sqlmaps.VehicleMapper">
 <resultMap id="VehiclesByAssociation" type="am.model.dao.VehicleAssociation">
  <id property="idVehicleAccess" column="idvehicle_access"/>
  <association property="accessType" column="access_type" javaType="am.model.dao.AssociationType">
   <id property="idaccess_type" column="idaccess_type"/>
   <result property="name" column="name"/>
   <result property="description" column="description"/>
  </association>
  <association property="vehicle" column="vehicle" javaType="am.model.dao.Vehicle">
   <id property="idvehicle" column="idvehicle"/>
   <result property="lic_plate_number" column="lic_plate_number"/>
   <result property="description" column="description"/>
  </association>
 </resultMap>

 <select id="VehiclesAndAssociationsByUser" resultMap="VehiclesByAssociation">
    select *
    from vehicle_access va
    join access_types at on at.idaccess_type = va.access_type
    join vehicles v on v.idvehicle = va.vehicle
    where va.user = #{value}
 </select>

 <select id="selectAll" resultType="vehicle">select * from vehicles</select>

 <select id="selectByUser" resultType="vehicle">
    select v.*
    from vehicle_access va
    join vehicles v on v.idvehicle = va.vehicle
    where va.user = #{value}
 </select>

 <insert id="insertVehicle" parameterType="vehicle"
 useGeneratedKeys="true" keyProperty="idvehicle">
    insert into vehicles (lic_plate_number, description)
    values (#{lic_plate_number}, #{description})
 </insert>

 <update id="updateVehicle" parameterType="vehicle">
    update vehicles set lic_plate_number = #{lic_plate_number},
    description = #{description}
    where idvehicle = #{idvehicle}
 </update>

 <delete id="deleteVehicle">
    delete from vehicles where idvehicle = #{value}
 </delete>

 <insert id="insertForUser" parameterType="vehicle"
 useGeneratedKeys="true" keyProperty="idvehicle">
    insert into vehicles (lic_plate_number, description)
    values (#{lic_plate_number}, #{description})
 </insert>


</mapper>
