<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="am.model.sqlmaps.UserMapper">
  <delete id="delete">
    delete from contact
    where id = #{value}
  </delete>

  <select id="selectAll" resultType="user">
    select * from users
  </select>

</mapper>
